{
  "tabWidth": 4,
  "printWidth": 100,
  "singleQuote": true,
  "quoteProps": "consistent",
  "trailingComma": "all",
  "arrowParens": "always",
  "overrides": [
    {
      "files": [
        ".prettierrc",
        ".eslintrc.js",
        "*.json",
        "*.webmanifest",
        "*.yml",
        "*.yaml"
      ],
      "options": {
        "tabWidth": 2
      }
    }
  ],
  "importOrder": [
    "^@providers/(.*)$",
    "^@hooks/(.*)$",
    "^@assets",
    "^@assets/(.*)$",
    "^@theme$",
    "^@theme/(.*)$",
    "^@components/atoms/(.*)$",
    "^@components/molecules/(.*)$",
    "^@components/organisms/(.*)$",
    "^@components/templates/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true
}
